body {
    margin: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    background-color: black;
}

#frameCounter {
    font-family: monospace;
    font-size: 12px;
    text-align: right;
    color: white;
    position: fixed;
    top: 16px;
    right: 16px;
}